<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISensorService" />
                <binding name="BasicHttpsBinding_ISensorService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://demosoap.azurewebsites.net/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISensorService"
                contract="SensorReference.ISensorService" name="BasicHttpBinding_ISensorService" />
            <endpoint address="https://demosoap.azurewebsites.net/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ISensorService"
                contract="SensorReference.ISensorService" name="BasicHttpsBinding_ISensorService" />
        </client>
    </system.serviceModel>
</configuration>